.custom-carousel {
  overflow: scroll;
  padding-left: 30px;
  width: 100%;
  position: relative;
}

.custom-carousel::-webkit-scrollbar {
  display: none;
}

.custom-carousel__container {
  transition: 450ms -webkit-transform;
  transition: 450ms transform;
  transition: 450ms transform, 450ms -webkit-transform;
  font-size: 0;
  white-space: nowrap;
  margin: 50px 0px 25px 0px;
  padding-bottom: 10px;
}

.custom-carousel__container:hover .custom-carousel-item {
  opacity: 0.3;
}

.custom-carousel__container:hover .custom-carousel-item:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  opacity: 1;
}
