.featured-movie {
    height:75vh;
    margin: -100px 0px 20px 0px;
    background-size: cover !important;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
}

.featured-movie-info {
    height:100%;
}

.featured-movie-info__overview {
    -webkit-line-clamp: 4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
